@model List<BillPay>

<div>
    <table class="table">
        <tr>
            <th>BillPayID</th>
            <th>Account to widthdraw</th>
            <th>PayeeID</th>
            <th>Amount($)</th>
            <th>Scheduled Time</th>
            <th>Period</th>
            <th>Status</th>
            <th>Action</th>
        </tr
        @foreach(var item in Model)
        {
            // convert to local time
            item.ScheduleTimeUtc = item.ScheduleTimeUtc.ToLocalTime();
            <tr>
                <td>@Html.DisplayFor(x => item.BillPayID)</td>
                <td>@Html.DisplayFor(x => item.AccountNumber)</td>
                <td>@Html.DisplayFor(x => item.PayeeID)</td>
                <td>@Html.DisplayFor(x => item.Amount)</td>
                <td>@Html.DisplayFor(x => item.ScheduleTimeUtc)</td>
                <td>@Html.DisplayFor(x => item.Period)</td>
                <td>@Html.DisplayFor(x => item.Status)</td>
                @if ((item.Status != "Complete") && (item.Status != "Not Enough Funds At Scheduled Time") && (item.Status != "Cancelled"))
                {
                    <td><a asp-controller="BillPay" asp-action="Cancel" asp-route-id=@item.BillPayID >Cancel</a></td>
                }
            </tr>
        }
    </table>
</div>

<div>
    <a class="btn btn-primary" asp-controller="BillPay" asp-action="Add" asp-route-id ="@ViewBag.Id">New Bill Pay</a>
</div>

<div>
    <a asp-controller="Customer" asp-action="Menu" asp-route-id="@ViewBag.Id">Back to Menu</a>
</div>