@model Account
@{
    ViewData["Title"] = "Transfer";
}

<h1 class="display-4">Account Number @Model.AccountNumber (@Model.AccountType)</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Transaction" asp-action="Transfer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Amount" class="control-label">Amount</label>
                <input id="Amount" name="Amount" class="form-control" value="@ViewBag.Amount?.ToString("0.00")"
                       data-val="true" data-val-number="The field Amount must be a number."
                       data-val-required="The Amount field is required." />
                @Html.ValidationMessage("Amount", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="DestinationId" class="control-label">Destination Account ID</label>
                <input id="DestinationId" name="DestinationId" class="form-control"
                       data-val="true" data-val-required="The Destination Account ID field is required." />
                @Html.ValidationMessage("DestinationId", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="comment" class="control-label">Comment</label>
                <input id="comment" name="comment" class="form-control"
                       data-val="true" data-val-required="The Comment field is required." />
                @Html.ValidationMessage("Comment", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Transfer" class="btn btn-primary" />
            </div>
        </form>a
    </div>
</div>

<div>
    <a asp-controller="Customer" asp-action="Menu" asp-route-id="@Model.AccountNumber">Back to Menu</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
