@model IEnumerable<Customer>

@{
ViewData["Title"] = "Customers";
}

<h1>MCBA Customers</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>TFN</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>PostCode</th>
            <th>Mobile</th>
            <th>Status</th>
            <th>Access</th>
            <th>Profile</th>
            <th>BillPay</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerID</td>
                <td>@customer.Name</td>
                <td>@(customer.TFN ?? "N/A")</td>
                <td>@(customer.Address ?? "N/A")</td>
                <td>@(customer.City ?? "N/A")</td>
                <td>@(customer.State ?? "N/A")</td>
                <td>@(customer.PostCode ?? "N/A")</td>
                <td>@(customer.Mobile ?? "N/A")</td>
                <td>@(customer.IsLocked ? "Locked" : "Unlocked")</td>
                <td>
                    @if (customer.IsLocked)
                    {
                        <a asp-action="Unlock" asp-route-id="@customer.CustomerID">Unlock</a>
                    }
                    else
                    {
                        <a asp-action="Lock" asp-route-id="@customer.CustomerID">Lock</a>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@customer.CustomerID">Edit</a>
                </td>
                    <td>
                    <a class="btn btn-primary" asp-controller="BillPay" asp-action="Index" asp-route-id="@customer.CustomerID">Select</a>
                    </td>

            </tr>
        }
    </tbody>
</table>