@model Account
@{
    ViewData["Title"] = "Menu"; // not sure what the use of this yet
}
<div>
    <h1 class="display-4">Account Number @Model.AccountNumber (@Model.AccountType)</h1>
    <table>
        <tr>
            <td> 
                <a class="btn btn-primary"
                   asp-controller="Transaction" asp-action="Deposit" asp-route-id="@Model.AccountNumber">Deposit</a>
                <a class="btn btn-primary"
                   asp-controller="Transaction" asp-action="Widthdraw" asp-route-id="@Model.AccountNumber">Widthdraw</a>
                <a class="btn btn-primary"
                   asp-controller="Transaction" asp-action="Transfer" asp-route-id="@Model.AccountNumber">Transfer</a>
                <a class="btn btn-primary"
                   asp-controller="Transaction" asp-action="Statement" asp-route-id="@Model.AccountNumber">Statement</a>
                <a class="btn btn-primary"
                   asp-controller="BillPay" asp-action="Index" asp-route-id="@Model.AccountNumber">BillPay </a>
            </td>
        </tr>
    </table>
</div>


<div>
    <a asp-controller="Customer" asp-action="Index">Back to Accounts</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
